<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body> all recipes that X favorited</h1>

  <table>
    {% for currRecipeID in recipeIDList%}
    <tr><th style="text-align:left">RecipeID #{{currRecipeID}}: {{recipeNamesDict[currRecipeID]}}</th></tr>
    {% for currIngred in recipeIngredDict[currRecipeID]%}
    <tr><td>{{currIngred}}</td></tr>
    {% endfor %}
    <tr><td>{{recipeInstDict[currRecipeID]}}</td></tr>
    <tr><td></td></tr>
    {% for currReview in recipeRatingDict[currRecipeID] %}
    <tr><td>ReviewID #{{currReview['reviewid']}} by {{currReview['username']}}</td></tr>
    <tr><td>Rating: {{currReview['stars']}}/10</td></tr>
    <tr><td>Review: {{currReview['content']}}</td></tr>
    <tr><td></td></tr>
    {% endfor %}
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>

    {% endfor %}
  </table>


</body>


</html>