<!DOCTYPE html>
<html>
<head>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
</style>
</head>
<body>

<h1>Login With Existing Account or Create an Account</h1>

<p align = "center"><a href=existing_login><button class="button button1">Existing Login</button></a></p>
<p align = "center"><a href=create_new_login><button class="button button2">Create New Account</button></a></p>

</body>
</html>