<html>
<style type="text/css">
<!--

 #navbar ul {
	margin: 0;
	padding: 5px;
	list-style-type: none;
	text-align: center;
	background-color: #000;
	}

#navbar ul li {
	display: inline;
	}

#navbar ul li a {
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #000;
	}

#navbar ul li a:hover {
	color: #000;
	background-color: #fff;
	}

-->
</style>
</head>
<body>
<div id="navbar">
  <ul>
	<li><a href="http://github.com">Link 1</a></li>
	<li><a href="http://github.com">Link 2</a></li>
	<li><a href="http://github.com">Link 3</a></li>
	<li><a href="http://github.com">Link 4</a></li>
	<li><a href="http://github.com">Link 5</a></li>
  </ul>
</div>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <h1>Recipe Home</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <p><a href="/testnav">Go to the nav page</a></p>

<form method="POST" action="/addrecipe">
<p>Add recipe name: <input type="text" name="recipename"> <input type="submit" value="Add"></p>
    <p>Add ingredients (split by comma): <input type="text" name="ingredients"> <input type="submit" value="Add"></p>
   <ul id="fieldList">
    <li>
      <input name="name[]" type="text" placeholder="Name" />
    </li>
    <li>
      <input name="phone[]" type="text" placeholder="Phone" />
    </li>
    <li>
      <input name="email[]" type="text" placeholder="E-Mail">
    </li>
  </ul>
  <p>Quantity: <input type="text" name="ingredients_quantity"> <input type="submit" value="Add"></p>
    <p>Add Instructions: <input type="text" name="instructions"> <input type="submit" value="Add"></p>
</form>

  <form action="form_sent.php" method="post">
  <ul id="fieldList">
    <li>
      <input name="name[]" type="text" placeholder="Name" />
    </li>
    <li>
      <input name="phone[]" type="text" placeholder="Phone" />
    </li>
    <li>
      <input name="email[]" type="text" placeholder="E-Mail">
    </li>
  </ul>
  <button id="addMore">Add more fields</button>
  <br>
  <br>
  <input type="submit">
</form>

  <form action="/action_page.php">
  <input type="file" id="myFile" name="filename">
  <input type="submit">
</form>


</form>

</body>


</html>