<html>
<style type="text/css">
<!--

 #navbar ul {
	margin: 0;
	padding: 5px;
	list-style-type: none;
	text-align: center;
	background-color: #000;
	}

#navbar ul li {
	display: inline;
	}

#navbar ul li a {
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #000;
	}

#navbar ul li a:hover {
	color: #000;
	background-color: #fff;
	}

-->
</style>
</head>
<body>
<div id="navbar">
  <ul>
	<li><a href="{{url_for('recipe_home')}}">Add a Recipe</a></li>
	<li><a href="{{url_for('review_recipes')}}">Write a Review</a></li>
	<li><a href="{{url_for('follow')}}">Follow</a></li>
	<li><a href="{{url_for('fave_recipes')}}">My Favorites</a></li>
    <li><a href="{{url_for('all_recipes')}}">All Recipes</a></li>
	<li><a href="{{url_for('logout')}}">Logout</a></li>
  </ul>
</div>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <h1>Recipe Home</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST" action="/addrecipe">
<p>Add recipe name: <input type="text" name="recipename" maxlength="50"> </p>
    <p>Add Instructions: <input type="text" name="instructions"></p>
    <p><input type="submit" value="Add"></p>
</form>

<form method="POST" action="/addingredient">
    <p>Add ingredients (split by comma):
   <ul id="fieldList">
    <li>
      <input name="ingredient_name" type="text" placeholder="Name" maxlength="50"/>
    </li>
    <li>
      <input name="quantity" type="number" placeholder="Quantity" min ="0" max = "2147483640"/>
    </li>
  <li>
      <select name="unit"  placeholder="Unit" >
        <option value="None"> </option>
        <option value="Tablespoon"> Tablespoon</option>
        <option value="Teaspoon"> Teaspoon</option>
        <option value="Cups"> Cups</option>
        <option value="Whole"> Whole</option>
      </select>
    </li>
  </ul>
  <p> <input type="submit" value="Add"></p>
  </p>
</form>

  <form  method="POST" enctype="multipart/form-data" action="/upload_photo">
  <input type="file"  name="pic">
  <input type="submit">
</form>


</form>

</body>


</html>